In [43]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [44]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [45]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [46]:
Base.classes.keys()

['measurement', 'station']

## D1: Determine the Summary Statistics for June

In [47]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results = session.query(Measurement.tobs).\
            filter(func.strftime("%m", Measurement.date) == "06")

In [48]:
#  3. Convert the June temperatures to a list.
results = session.query(Measurement.tobs).\
            filter(func.strftime("%m", Measurement.date) == "06").all()

In [49]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(results, columns=['tobs'])
df.head()

   tobs
0  78.0
1  76.0
2  78.0
3  76.0
4  77.0

In [50]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

              tobs
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [51]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results = session.query(Measurement.tobs).\
            filter(func.strftime("%m", Measurement.date) == "12")

In [52]:
# 7. Convert the December temperatures to a list.
results = session.query(Measurement.tobs).\
            filter(func.strftime("%m", Measurement.date) == "12").all()

In [53]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df = pd.DataFrame(results, columns=['tobs'])
df.head()

   tobs
0  76.0
1  74.0
2  74.0
3  64.0
4  64.0

In [54]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df.describe()

              tobs
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

## D2: Additional Queries to gather more weather data for June and December

In [65]:
results = session.query(Measurement.prcp).\
            filter(func.strftime("%m", Measurement.date) == "06").all()
df_temp = pd.DataFrame(results, columns=['precipitation'])
df_temp.describe()

       precipitation
count    1574.000000
mean        0.136360
std         0.335731
min         0.000000
25%         0.000000
50%         0.020000
75%         0.120000
max         4.430000

In [64]:
results = session.query(Measurement.prcp).\
            filter(func.strftime("%m", Measurement.date) == "12").all()
df_temp = pd.DataFrame(results, columns=['precipitation'])
df_temp.describe()

       precipitation
count    1405.000000
mean        0.216819
std         0.541399
min         0.000000
25%         0.000000
50%         0.030000
75%         0.150000
max         6.420000